:root {
    --shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    --color-blue: #012061;
    --color-violet: #4c085f;
    --color-orange: #ff5845;
    --color-grey: #edeef0;
}

* {
    box-sizing: border-box;
    transition-duration: 0.2s;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background: linear-gradient(135deg, var(--color-blue) 25%, var(--color-violet) 75%);
    font-family: Tahoma, sans-serif;
}

main {
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    background: white;
    padding: 2rem;
}


.request {
    width: 100%;
    height: 100%;
}

.request__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.25rem;
}

.request__header {
    text-align: center;
    font-size: 1.25rem;
    color: var(--color-blue);
}

.request__input, .request__button {
    padding: 1rem;
    border-radius: 2rem;
}

.request__input {
    width: 100%;
    background: var(--color-grey);
    border: none;
    box-shadow: var(--shadow);
    margin-bottom: 1rem;
}

.request__input:invalid {
    border: 1px solid var(--color-orange);
}

.request__button {
    border: none;
    color: white;
    background: var(--color-orange);
    padding-inline: 20%;
}

.request__label {
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
    opacity: 0.8;
}

button:hover {
    opacity: 0.75;
}

.preloader {
    width: 3rem;
    height: 3rem;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #9c41f2;
    border-radius: 100%;
    margin: auto;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.content {
    width: 100%;
}

.image-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.image-gallery__tile {
    max-height: 100%;
    min-width: 40%;
    vertical-align: bottom;
    margin: 1%;
    flex-grow: 1;
}

@keyframes loadingGradient {
    0% {
        background-position: 0px 0;
    }
    100% {
        background-position: 100em 0;
    }
}

.preloader-background {
    animation-duration: 8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: loadingGradient;
    animation-timing-function: linear;
    background: #fff;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
}

.error__message {
    color: var(--color-orange);
    text-align: center;
}